<html>
<head>
	<meta charset="utf-8" />
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

<div class="container">
	<div class="row">
		<div class="span6">
			<h1 style="color:red;" class="page-header">PALAVLARUS</h1>
		</div>
		{% if not logged %}
		<div class="span3" >
			<div style="text-align:right;">
				<a href="{% url giris %}" class="btn btn-success"><i class="icon-pencil icon-white"></i> Giriş Yap</a>
			</div>
		</div>
		{% else %}
		<div class="span3" >
			<div style="text-align:right;">
				<a href="{% url cikis %}" class="btn btn-danger"><i class="icon-remove-sign icon-white"></i> {{ the_logged }} : Çıkış Yap</a>
			</div>
		</div>
		{% endif %}
		<div class="span3" >
			<div style="text-align:right;">
				<a href="{% url home %}" class="btn btn-primary"><i class="icon-bookmark icon-white"></i> Ana Sayfa</a>
			</div>
		</div>
	</div>
</div>

<div class="container" >
	{% block main %}{% endblock %}
</div>

</body>
</html>
